.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-label, .aor-field-score\.unaware label span {
  color: #f9b625;
}

.curious-label, .aor-field-score\.curious label span {
  color: #dd7d1b;
}

.follower-label, .aor-field-score\.follower label span {
  color: #3eb1c8;
}

.guide-label, .aor-field-score\.guide label span {
  color: #007398;
}
