.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-label {
  color: #f9b625;
  font-weight: bold;
}

.curious-label {
  color: #dd7d1b;
  font-weight: bold;
}

.follower-label {
  color: #3eb1c8;
  font-weight: bold;
}

.guide-label {
  color: #007398;
  font-weight: bold;
}

.hostile-label,
.contextualized-label,
.seeker-label,
.believer-label,
.learner-label,
.new-disciple-label,
.engaged-disciple-label {
  font-weight: bold;
}
